@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Staatliches&display=swap');

.header {
    background-color: #000B30;
    height: 50px;
    width: 100%;
    position: initial;
}
.logo {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    background-color: white;
    padding-top: 20px;

}
.logo img {
    height: 130px;
    
}

.container-login {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;

}

.login-box {
    height: 98%;
    width: 700px;
    background-color: #000B30;
    display: flex;
    flex-direction: column;
    padding-left: 75px;
    padding-right: 75px;
    box-shadow: 0px 0px 10px #000B30, 0px 0px 30px #171d33;
}

.login-box-shuffle {
    height: 98%;
    width: 700px;
    background-color: #003008;
    display: flex;
    flex-direction: column;
    padding-left: 75px;
    padding-right: 75px;
    box-shadow: 0px 0px 10px #1c4d27, 0px 0px 30px #28382e;
}

.campo {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box h2 {
    height: 35px;
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: 'Monoton', cursive;
    margin-top: 20px;
}

.login-box p {
    height: 30px;
    color: white;
    font-size: 20px;
    text-align: left;
    font-family: sans-serif;
    padding-top: 5px;
    margin-top: 20px; 
}

.login-box input {
    background-color: #82899F;
    width: 70%;
    height: 40px;
    box-shadow: 0px 0px 10px #202125, 0px 0px 30px #171d33;
    
}



.cadastre-se {
    height: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: white;
}

.cadastre-se a {
    text-decoration: none;
    padding-left: 3px;
    padding-right: 3px;
    color: white;
}

.btn-login {
    display: flex;
    justify-content: center;
    height: 50px;
    margin-top: 20px;
}

.btn-login button {
    height: 100%;
    width: 150px;
    background-color: #3340f3;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
}

.contas-fb-google {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.contas-fb-google img {
    background-color: white;
}

.credits {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: 700;
    margin-bottom: 50px;
}

.credits p {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.shuffling {
    display: flex;
    justify-content: center;
}

.shuffling button {
    height: 100%;
    width: 150px;
    background-color: #be791f;
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

.footer {
    margin-top: 30px;
}